body {
	background: lightblue;
	font-family: arial;
	font-size: 15.5pt;
	letter-spacing: 0.07em;
	margin: 0 auto;
	padding: 0;
	width: 1024px;
}
/* Normal Link */
a:link {
	color: #3b5998;
	text-decoration: none;
}
a:hover {
	color: red;
}
a:visited {
	color: #3b5998;
}
a:active {
	color: #3b5998;
}
/* Link Edit */
.edit a:link {
	color: green;
	padding: 5px 20px;
	text-decoration: none;
}
.edit a:hover {
	background: black;
	color: white;
	
}
.edit a:visited {
	color: green;
}
.edit a:active {
	color: green;
}
/* Link Hapus */
.hapus a:link {
	color: red;
	font-size: 115%;
	padding: 5px;
	text-decoration: none;
}
.hapus a:hover {
	background: brown;
	color: white;
}
.hapus a:visited {
	color: red;
}
.hapus a:active {
	color: red;
}
/* Simpan Data */
.td_simpan_data_foot a:link {
	color: white;
}
.td_simpan_data_foot a:hover {
	color: white;
}
.td_simpan_data_foot a:visited {
	color: white;
}
.td_simpan_data_foot a:active {
	color: white;
}
.td_simpan_proses_akhir a:link {
	color: white;
}
.td_simpan_proses_akhir a:hover {
	color: white;
}
.td_simpan_proses_akhir a:visited {
	color: white;
}
.td_simpan_proses_akhir a:active {
	color: white;
}


/* WRAP CONTAINER */
.wrap {
	background: #aaffee;
	margin: 0 0 61% 0;
	padding: 98px 0 0 0;
	width: 1024px;
}
.container {
	background: white;
	margin: 0;
	padding: 10px 0 0 0;
	width: 1024px;
}


/* HEADER FIXED*/
header {
	background: transparent;
	margin: 0 auto;
	padding: 0;
	position: fixed;
	top: 0;
	z-index: 9999;
	text-align: center;
	width: 1024px;
}
header .ttl_h2 {
	background: white;
	border-bottom: 0.5px solid green;
	font-size: 30px;
	margin: 0 auto;
	padding: 10px 0;
}
header .select_nav {
	background: black;
	padding: 2px 0;
}
header p {
	background: #3b9999;
	border: 3px outset #999;
	color: white;
	display: inline-block;
	font-size: 15pt;
	font-weight: bold;
	margin: 3px 0;
	padding: 5px 0;
	text-align: center;
	width: 11.34%;
}
header p:hover {
	background: brown;
	border: 3px inset #777;
}
header .nav_5:before {
	content:"5 KG";
}
header .nav_10:before {
	content:"10 KG";
}
header .nav_20:before {
	content:"20 KG";
}
header .nav_25:before {
	content:"25 KG";
}
header .nav_50:before {
	content:"50 KG";
}
header .nav_bak:before {
	content:"BAK";
}
header .nav_ecer:before {
	content:"ECER";
}
header .nav_order:before {
	content:"ORDER";
}



/* TABLE */
table {
	background: linear-gradient(to top, white, black, black);
	border: 0.5px solid #555;
	border-right: none;
	margin: 0 auto;
	max-width: 100%;
}


/* TABLE HEADER */
table .th1 {
	background: #ee5955;
	border-right: 0.5px solid #555;
	border-bottom: 0.5px solid #555;
	color: #eee;
	font-size: 170%;
	padding: 6px 0;
}


/* TABLE TH */
table th {
	background: #3e6997;
	border-right: 1px solid white;
	border-top: none;
	border-bottom: 1px solid #eee;
	border-left: none;
	color: #eee;
	font-size: 100%;
	padding: 5px 0;
}
table .th_no {
	width: 5%;
}
table .th_no:before {
	content:"No";
}
table .th_namaberas {
	width: 33%;
}
table .th_namaberas:before {
	content:"Nama | Merek | Jenis";
}
table .th_berat {
	width: 7%;
}
table .th_berat:before {
	content:"Berat";
}
table .th_perkilo {
	width: 10%;
}
table .th_perkilo:before {
	content:"Modal /Kilo";
}
table .th_perbal {
	width: 12%;
}
table .th_perbal:before {
	content:"Modal /Karung";
}
table .th_banyak {
	width: 8%;
}
table .th_banyak:before {
	content:"Jumlah Karung";
}
table .th_subtotal {
	width: 16%;
}
table .th_subtotal:before {
	content:"Subtotal";
}
table .th_aksi {
	border-right: 0.5px solid #3a5998;
	width: 8%;
}
table .th_aksi:before {
	content:"Aksi";
}


/* TABLE TD */
table td {
	background: lightyellow;
	border: 0.5px solid #555;
	border-left: none;
	border-top: none;
	color: black;
}
table .td_no {
	color: brown;
	font-weight: bold;
	padding: 0 10px;
	text-align: center;
}
table .td_namaberas {
	color: #333;
	font-size: 18pt;
	padding: 0 0 0 5px;
	text-transform: capitalize;
}
table .td_berat {
	text-align: center;
}
table .td_perkilo {
	text-align: right;
}
table .td_perkilo:before {
	color: #aaa;
	content:"Rp ";
	font-family: georgia;
	font-size: 60%;
	font-style: italic;
}
table .td_perbal {
	text-align: right;
}
table .td_perbal:before {
	color: #aaa;
	content:"Rp ";
	font-family: georgia;
	font-size: 60%;
	font-style: italic;
}
table .td_banyak {
	text-align: center;
}
table .td_banyak:after {
	content:" krg";
	color: #aaa;
	font-family: georgia;
	font-size: 60%;
	font-style: italic;
}
table .td_banyak_bakecer {
	text-align: center;
}
table .td_banyak_bakecer:after {
	content:" kg";
	color: #aaa;
	font-family: georgia;
	font-size: 60%;
	font-style: italic;
}
table .td_total {
	background: brown;
	border-right: none;
	color: white;
	padding: 7px 0;
	text-align: center;
}
table .td_total:before {
	content:"TOTAL";
	font-weight: bold;
	letter-spacing: 0.15em;
}
table .td_subtotal {
	font-size: 110%;
	text-align: right;
}
table .td_subtotal:before {
	color: #aaa;
	content:"Rp ";
	font-family: georgia;
	font-size: 60%;
	font-style: italic;
}
table .td_aksi {
	text-align: center;
}
table .td_total_banyak {
	background: darkorange;
	border-right: none;
	color: #f5f5f5;
	font-weight: bold;
	padding: 7px 0;
	text-align: center;
}
table .td_total_banyak:after {
	content:" krg";
	color: #eee;
	font-family: georgia;
	font-size: 60%;
	font-style: italic;
}
table .td_total_banyak_bakecer {
	background: darkorange;
	color: white;
	text-align: center;
}
table .td_total_banyak_bakecer:after {
	content:" kg";
	color: #eee;
	font-family: georgia;
	font-size: 60%;
	font-style: italic;
}
table .td_total_nominal {
	background: #3e6997;
	border-right: 0.5px solid #3a5998;
	color: white;
	font-weight: bold;
	padding: 7px 0;
	text-align: center;
}
table .td_total_nominal:before {
	content:"Rp ";
}
table .info_tb_data {
	background: #3e6997;
	color: white;
	text-align: center;
}
table .info_tb_data:before {
	content:"Tambahkan Data Beras Pada 3 Kotak Hitam";
	font-size: 110%;
}
table .nobor {
	border: none;
	margin: 0;
	padding: 0;
}
table input {
	background: black;
	color: white;
	font-family: arial;
	font-size: 219%;
	font-weight: 500;
	letter-spacing: 0.08em;
	text-shadow: 1px 1px 1px white;
	text-align: center;
}
table ::-webkit-input-placeholder {
	color: #aaa;
	font-size: 40%;
	font-weight: normal;
	letter-spacing: 0.07em;
	text-shadow: none;
	font-family: arial;
}
table .td_input_namaberas_foot {
	padding: 5px 0;
	width: 539px; /* 100% */
}
table .td_input_modalperkilo_foot {
	padding: 5px 0;
	width: 210px; /* 100% */
}
table .td_input_banyakbal_foot {
	padding: 5px 0;
	width: 139px; /* 100% */
}
table .td_tambah_data {
	background: darkgreen;
	border: none;
	color: white;
	font-size: 120%;
	font-weight: bold;
	padding: 18px 17px 17px;
}
table .td_tambah_data:hover {
	background: darkorange;
}
table .td_tambah_data:before {
	content:"Tambah";
}
table .td_namaberas_foot {
	background: #3e6997;
	border-right: 2px solid white;
	color: white;
	text-align: center;
}
table .td_namaberas_foot:before {
	content:"Masukkan Nama Atau Merek Beras";
}
table .td_modalperkilo_foot {
	background: #3e6997;
	border-right: 2px solid white;
	color: white;
	text-align: center;
}
table .td_modalperkilo_foot:before {
	content:"Berapa Modal Perkilo";
}
table .td_banyakbal_foot {
	background: #3e6997;
	border-right: 2px solid white;
	color: white;
	text-align: center;
}
table .td_banyakbal_foot:before {
	content:"Ada Berapa Karung";
}
table .td_banyakkilo_foot {
	background: #3e6997;
	border-right: 2px solid white;
	color: white;
	text-align: center;
}
table .td_banyakkilo_foot:before {
	content:"Ada Berapa Kilo";
}
table .td_simpan_data_foot {
	background: maroon;
	font-size: 115%;
	font-weight: bold;
	text-align: center;
}
table .td_simpan_data_foot:hover {
	background: darkorange;
}
table .td_simpan_proses_akhir {
	background: maroon;
	border: none;
	color: white;
	font-size: 145%;
	font-weight: bold;
	padding: 15px 0;
	text-align: center;
	width: 100%;
}
table .td_simpan_proses_akhir:hover {
	background: darkorange;
}
table .td_simpan_proses_akhir:before {
	content:"S I M P A N";
}
.proses_akhir {
	background: white;
	border-bottom: 10px double #888;
	margin: 20px 0;
	padding: 30px 0 10px;
	position: absolute;
	width: 1024px;
}
.proses_akhir .table_left {
	height: 577px;
	float: left;
	width: 689px;
}
.proses_akhir .table_right {
	border: none;
	font-size: 90%;
	height: 560px;
	float: right;
	text-align: center;
	width: 331px;
}
table .penarikan {
	padding:9px 0;
}
.proses_akhir .table_right .nominal {
	font-size: 200%;
	font-weight: bold;
}
.proses_akhir .table_right .komentar {
	background: grey;
	border: none;
	color: #333;
	font-size: 100%;
	font-weight: normal;
	line-height: 1.1955em;
}
.proses_akhir table .th_keterangan_akhir:before {
	content:"Keterangan";
	font-size: 115%;
}
.proses_akhir table .th_nominal_akhir:before {
	content:"Nominal";
	font-size: 115%;
}
.proses_akhir table .th_aksi {
	font-size: 115%;
	padding: 0 5px;
}
.proses_akhir table .td_jumlahbarang_akhir {
	background: #3b9999;
	font-weight: bold;
}
.proses_akhir table .td_jumlahbarang_akhir:before {
	content:"Jumlah Barang";
	color: white;
	font-size: 130%;
}
.proses_akhir table .td_total_barang_akhir {
	background: #3b9999;
	color: white;
	font-size: 120%;
	font-weight: bold;
}
.proses_akhir table .td_total_barang_akhir:before {
	content:"Rp ";
	color: #ccc;
	font-family: georgia;
	font-size: 60%;
	font-style: italic;
}
.proses_akhir table .td_jumlah_uang_akhir:before {
	content:"Jumlah Uang Toko";
	font-size: 130%;
}
.proses_akhir table .td_uang_dipinjamkan_akhir:before {
	content:"Uang yang Dipinjamkan";
	font-size: 130%;
}
.proses_akhir table .td_pengeluaran_akhir:before {
	Content:"Pengeluaran Perbulan";
	font-size: 130%;
}
.proses_akhir table .td_subtotal_akhir1 {
	background: #3b9999;
	font-weight: bold;
}
.proses_akhir table .td_subtotal_akhir1:before {
	content:"Subtotal";
	color: white;
	font-size: 130%;
}
.proses_akhir table .td_subtotal_akhir2 {
	background: #3b9999;
	color: white;
	font-size: 120%;
	font-weight: bold;
}
.proses_akhir table .td_subtotal_akhir2:before {
	content:"Rp ";
	color: #ccc;
	font-family: georgia;
	font-size: 60%;
	font-style: italic;
}
.proses_akhir table .td_utang_akhir:before {
	content:"Utang Toko";
	font-size: 130%;
}
.proses_akhir table .td_modal_akhir:before {
	content:"Modal Toko";
	font-size: 130%;
}
.proses_akhir table .td_untung_akhir1 {
	background: #3b9999;
	font-weight: bold;
}
.proses_akhir table .td_untung_akhir1:before {
	content:"Untung (KTR)";
	color: white;
	font-size: 130%;
}
.proses_akhir table .td_untung_akhir2 {
	background: #3b9999;
	font-weight: bold;
}
.proses_akhir table .td_untung_akhir2:before {
	content:"Untung (BRSH)";
	color: white;
	font-size: 130%;
}
.proses_akhir table .td_nominal_akhir {
	font-weight: bold;
	font-size: 120%;
}
.proses_akhir table .td_nominal_akhir:before {
	content:"Rp ";
	color: grey;
	font-family: georgia;
	font-size: 60%;
	font-style: italic;
}
.proses_akhir table .td_aksi_akhir {
	font-size: 120%;
	text-align: center;
}
.proses_akhir table .td_aksi_akhir .edit_proses_akhir a:link {
	background: #3b9999;
	color: white;
	display: block;
	font-weight: bold;
	padding: 3px 5px;
}
.proses_akhir table .td_aksi_akhir .edit_proses_akhir a:hover {
	background: brown;
	color: white;
	display: block;
	font-weight: bold;
	padding: 3px 5px;
}
.proses_akhir table .td_aksi_akhir .edit_proses_akhir a:visited {
	color: white;
	font-weight: bold;
}
.proses_akhir table .td_aksi_akhir .edit_proses_akhir a:active {
	color: white;
	font-weight: bold;
}
.proses_akhir table .td_footer_akhir {
	background: black;
	color: #aaa;
	font-size: 70%;
	font-style: italic;
	letter-spacing: 0.15em;
	opacity: 0.8;
	text-align: center;
}
.proses_akhir table .td_footer_akhir:before {
	content:"Tabel Hitung Otomatis";
}


/* FOOTER */
.footer {
	background: #bbb;
	display: block;
	padding: 30px 0 10px;
	width: 1024px;
}
footer .by {
	color: #777;
	font-family: georgia;
	font-size: 120%;
	font-style: normal;
	height: 50px;
	text-align: center;
}
footer .by:before {
	content:"Copyright";
}
footer .by:after {
	content:"@arnadi";
}

